
:root {
    --color-text: #333333;
    --color-bg: #cccccc;
    --color-bg--dark: var(--color-text);
    --color-bg--stories: #dddddd;
    --color-bg--comments: #eeeeee;
    --color-cta: #36b;
    --color-cta--hover: #03b;
    --spacing: 24px;
    --spacing-small: calc(var(--spacing) / 2);
    --spacing-large: calc(var(--spacing) * 2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-bg--dark);
    color: var(--color-text);
    font-family: sans-serif;
}
header {
    align-items: center;
    color: var(--color-bg--comments);
    display: flex;
    height: 10vh;
    padding: var(--spacing);
}

.spinner {
    animation: spin 4s ease-in-out infinite;
    border: calc(var(--spacing) / 4) solid var(--color-cta);
    border-radius: 50% 25% / 25% 50%;
    height: var(--spacing-large);
    opacity: 0;
    position: fixed;
    right: var(--spacing);
    top: var(--spacing);
    transition: opacity 0.5s;
    width: var(--spacing-large);
}
@keyframes spin {
    100% {
        transform:rotate(360deg);
    }
}
.spinner.show {
    opacity: 1;
}

.content {
    display: flex;
    height: 90vh;
}
.stories,
.comments {
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    flex: 1;
    height: calc(90vh - var(--spacing));
    margin: 0 var(--spacing);
    overflow-y: auto;
}
.stories {
    background-color: var(--color-bg--stories);
    font-size: 18px;
    position: relative;
}
.comments {
    background-color: var(--color-bg--comments);
    opacity: 0;
    transition: opacity 0.5s;
}
.comments.active {
    opacity: 1;
}
.stories::before,
.comments::before {
    border-bottom: 1px solid var(--color-bg);
    display: block;
    font-size: 22px;
    padding: var(--spacing);
}
.stories::before {
    content: 'Stories';
}
.comments::before {
    content: 'Comments';
}

.hn-item {
    border-bottom: 1px solid var(--color-bg);
    cursor: pointer;
    display: block;
    padding: var(--spacing);
    transition: background-color 0.5s;
}
.hn-item:hover,
.hn-item.active {
    background-color: var(--color-bg--comments);
}
.hn-item.sub-item {
    padding-left: var(--spacing-large)
}
.comments .hn-item {
    cursor: default;
}

.load-more {
    background-color: var(--color-cta);
    bottom: var(--spacing);
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    color: #ffffff;
    cursor: pointer;
    margin-left: var(--spacing);
    padding: var(--spacing-small) var(--spacing);
    right: var(--spacing);
    transition: background-color 0.5s;
}
.load-more:hover {
    background-color: var(--color-cta--hover);
}
